.header {
  @include flex(flex-start, center);
  padding: 12px 20px;
  grid-area: header;

  &__content {
    display: flex;
  }

  &__logo {
    margin: 10px;
    cursor: pointer;
    transition: 0.7s ease-in-out;

    &:hover {
      transform: rotate(360deg);
    }

    img {
      max-height: 60px;
      max-width: 78px;
      width: 100%;
      margin-right: 5px;
    }
  }

  &__title {
    color: $color-gray-500;

    &-page {
      font: $header__title;
      color: $color-gray-500;
    }
  }

  &__animation {
    position: relative;
    width: 65px;
    height: 100%;
    margin-left: 30px;
  }
}
