.header {
  @include flex(space-between, center);
  padding: 12px 20px;
  grid-area: header;

  &__content {
    display: flex;
  }

  &__logo {
    cursor: pointer;
    transition: 0.7s ease-in-out;

    &:hover {
      transform: rotate(360deg);
    }

    img {
      max-height: 100px;
      max-width: 130px;
      width: 100%;
      margin-right: 7px;
    }
  }
}
