.header {
  @include flex(flex-start, center);
  padding: 12px 20px;
  grid-area: header;

  @media (max-width: $breakpoint-mobile-interim-landscape) {
    flex-direction: column;
  }

  &__content {
    display: flex;
  }

  &__logo {
    margin: 10px;
    cursor: pointer;
    transition: 0.7s ease-in-out;

    &:hover {
      transform: rotate(360deg);
    }

    img {
      max-height: 60px;
      max-width: 78px;
      width: 100%;
      margin-right: 5px;
    }
  }

  &__title {
    color: var(--titles-color);

    @media (max-width: $breakpoint-mobile-landscape) {
      margin-bottom: 1rem;
      font-size: 1.7rem;
      line-height: 1.7rem;
      text-align: center;
    }
  }

  &__animation {
    position: relative;
    width: 65px;
    height: 100%;
    margin-left: 30px;

    @media (max-width: $breakpoint-mobile-interim-landscape) {
      margin: 0 0 1.5rem 0;
    }
  }
}
