.new-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  @include flex(space-around, center);
  flex-direction: column;
  width: 420px;
  height: 550px;
  padding: 30px 10px 10px;
  box-sizing: border-box;
  border: 3px solid $popup-blue;

  color: $popup-text;
  background-color: $popup-bg-grey;

  &__title {
    margin: 2rem 0;
    font-size: 30px;
    font-weight: 100;
    color: $popup-blue;
    text-align: center;
  }

  &__close-btn {
    border-radius: 50%;
    box-shadow: -3px -3px 3px $color-white, 3px 3px 3px $popup-text;
    width: 25px;
    height: 25px;
  }

  &__checkbox {
    position: relative;
    top: 10px;
    left: -55px;
    height: 0;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: -12px;
      left: 0;

      display: block;
      width: 40px;
      height: 23px;
      border-radius: 11px;
      border: 1px solid $color-white;
      background-color: $popup-checkbox;
      box-shadow: -3px -3px 3px $color-white, 3px 3px 3px $popup-text;
      transition: 0.3s;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 5px;
      z-index: 55;
      transform: translateY(-50%);

      display: block;
      width: 16px;
      height: 16px;
      background-color: $popup-bg-grey;
      border-radius: 50%;
      box-shadow: 0 0 3px $popup-text;
      border: 1px solid $color-white;
      transition: 0.3s;
    }

    &.checked::after {
      border: 1px solid $popup-blue;
      background-color: $color-white;
    }

    &.checked::before {
      left: 20px;
      border: 1px solid $popup-blue;
      box-shadow: 0 0 3px $popup-blue;
    }
  }

  &__label-checkbox {
    margin: 0 70px 0 0;
    font-size: 12px;
    font-weight: bold;
    color: $popup-blue;
    cursor: pointer;
  }

  &__add-btn {
    padding: 10px 55px;
    border-radius: 10px;
    background-color: $popup-bg-grey;
    box-shadow: -5px -5px 5px $color-white, 5px 5px 5px $popup-text;
    color: $popup-text;
    border: none;
  }

  & button {
    border: 1px solid $color-white;
    color: $popup-text;
    cursor: pointer;
    outline: none;
    transition: all 0.5s;

    &:hover {
      color: $color-light-black;
      box-shadow: none;
    }

    &:focus {
      border: 1px solid $popup-blue;
    }
  }

  & textarea,
  input {
    min-width: 70%;
    margin-bottom: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid $popup-bg-grey;
    box-shadow: -5px -5px 5px $color-white, 5px 5px 5px $popup-text;
    border-radius: 5px;
    background-color: $popup-bg-grey;
    outline: none;
    resize: none;
    transition: all 0.5s;

    &:focus {
      border: 2px solid $popup-blue;
      background-color: $color-white;
      box-shadow: none;
    }
  }
}

.popup {
  &.hide {
    display: none;
  }

  &__row {
    @include flex(space-between, flex-start);
    width: 100%;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @include flex(flex-end, center);
    padding: 5px 10px;
    border-bottom: 1px solid $color-white;
    box-shadow: 0 2px 10px $popup-text;
  }

  &__checkbox-container {
    align-items: center;
    padding-left: 30%;
    box-sizing: border-box;
    justify-content: flex-start;
    margin-bottom: 20px;

    & .new-task__checkbox {
      min-width: 0;
    }
  }
}

.bg-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: $popup-shadow;
  transition: all 0.5s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 1000px) {
  .new-task {
    width: auto;
    height: auto;
    min-width: 60%;
    min-height: 60%;

    &__title {
      margin: 1rem 0 0 0;
    }
  }
}

@media (max-width: 600px) {
  .new-task {
    min-width: 90%;

    &__title {
      margin: 2rem 0;
    }

    & label {
      display: none;
    }

    & .new-task__label-checkbox {
      display: block;
    }

    & textarea,
    input {
      min-width: 85%;
    }
  }

  .popup__row {
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
