.new-task {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  font: $font-text;
  font-weight: 400;
  transform: translate(-50%, -50%);

  @include flex(space-around, center);
  flex-direction: column;
  width: 420px;
  height: 550px;
  padding: 30px 10px 10px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--popup-bg-color);
  box-sizing: border-box;

  &__title {
    margin: 2rem 0;
    font-size: 30px;
    color: var(--primary-color);
    text-align: center;
  }

  &__close-btn {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 50%;
    background-color: inherit;
    border: none;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 30px;
      width: 30px;

      path {
        fill: var(--primary-color);
      }
    }
  }

  &__checkbox {
    position: relative;
    left: -55px;
    height: 0;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      display: block;
      width: 40px;
      height: 23px;
      border-radius: 11px;
      border: 1px solid var(--primary-color);
      background-color: var(--popup-bg-color);
      transition: 0.3s;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 5px;
      z-index: 55;
      transform: translateY(-50%);

      display: block;
      width: 16px;
      height: 16px;
      background-color: var(--primary-color);
      border-radius: 50%;
      border: 1px solid var(--primary-color);
      transition: 0.3s;
    }

    &.checked::after {
      border: 1px solid var(--primary-color);
      background-color: var(--active-elements-color);
    }

    &.checked::before {
      left: 20px;
      border: 1px solid var(--primary-color);
    }
  }

  &__label-checkbox {
    margin: 0 70px 0 0;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  &__add-btn {
    padding: 10px 55px;
    background-color: var(--popup-bg-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
  }

  & button {
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
    transition: all 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opasity:0.8;
    }
  }

  &__description,
  &__name {
    min-width: 70%;
    margin-bottom: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    background-color: #e2e2e2;
    outline: none;
    resize: none;
    transition: all 0.5s;

    &:focus {
      border: 2px solid var(--primary-color);
      background-color: var(--secondary-color);
      box-shadow: none;
    }
  }
}

.popup {
  &.hide {
    display: none;
  }

  &__row {
    @include flex(space-between, flex-start);
    width: 100%;
    font-weight: 500;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @include flex(flex-end, center);
    padding: 5px 10px;
    border-bottom: 1px solid var(--secondary-color);
  }

  &__checkbox-container {
    align-items: center;
    padding-left: 30%;
    box-sizing: border-box;
    justify-content: flex-start;
    margin-bottom: 20px;

    & .new-task__checkbox {
      min-width: 0;
    }
  }
}

.bg-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  transition: all 0.5s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.error {
  &__label {
    color: rosybrown;
    font-weight: 500;
  }

  &__input {
    border: 3px solid rosybrown;
  }
}

@media (max-width: 1000px) {
  .new-task {
    width: auto;
    height: auto;
    min-width: 60%;
    min-height: 60%;

    &__title {
      margin: 1rem 0 0 0;
    }
  }
}

@media (max-width: 600px) {
  .new-task {
    min-width: 90%;

    &__title {
      margin: 2rem 0;
    }

    & label {
      display: none;
    }

    & .new-task__label-checkbox {
      display: block;
    }

    & textarea,
    input {
      min-width: 85%;
    }
  }

  .popup__row {
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
