.tasks-wrapper {
  display: grid;
  grid-gap: 1rem;

  @media (min-width: $breakpoint-mobile-landscape) {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 1rem;
  }
}

.task {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 17px;
  height: 235px;
  margin: 0 10px 0 10px;
  max-width: 600px;

  @media (min-width: $breakpoint-mobile-landscape) {
    padding: 1rem 2rem;
  }

  &__item {
    @include flex(space-between, center);
    padding: 0 10px;
    color: $color-white;
    transition: 0.3s;

    &-text {
      margin-left: 10px;
      padding: 0;
      color: var(--text-color);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.completed {
        text-decoration: line-through;
      }
    }

    &-btn {
      z-index: 15;
      @include flex(center, center);
      margin-left: 10px;
      width: 25px;
      height: 25px;
      padding: 5px;
      border-radius: 50%;
      background-color: $task-btn-color;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      font-size: 16px;

      &-wrapper {
        display: flex;
        align-items: center;
      }
    }

    &:hover {
      background-color: $task-hover;
      border-radius: 7px;

      & .task__item-btn {
        opacity: 1;
        pointer-events: painted;
      }
    }
  }

  &__title,
  &__subtitle {
    display: block;
     color: var(--text-color);
    text-align: center;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

    @media (min-width: $breakpoint-mobile-landscape) {
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    margin-bottom: 1rem;
    font-size: 0.8rem;

    @media (min-width: $breakpoint-mobile-landscape) {
      font-size: 1rem;
    }
  }

  &__list {
    line-height: 2rem;
    overflow-y: scroll;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  &_p1 {
    background-color: var(--first-tasks-block-color);
  }

  &_p2 {
    background-color: var(--second-tasks-block-color);
  }

  &_p3 {
    background-color: var(--third-tasks-block-color);

    .task__title,
    .task__subtitle {
      color: var(--text-color);
    }
  }

  &_p4 {
    background-color: var(--fourth-tasks-block-color);
  }
}
