.top-panel {
  @include flex(space-between, center);
  padding: 0.8rem 0 0.8rem 0.8rem;

  @media (max-width: $breakpoint-mobile-interim-landscape) {
    flex-direction: column;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    @media (max-width: $breakpoint-laptop-landscape) {
      flex-direction: column;
    }
  }

  &__completed,
  &__unfinished {
    color: var(--text-color);
    min-width: 270px;
    margin-right: 10px;
    padding: 5px;
  }

  &__buttons {
    @include flex(space-between, center);
    min-width: 100px;
  }

  &__btn {
    position: relative;
    width: 45px;
    height: 45px;
    font-size: 2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease-in;
    img {
      max-width: 18px;
      width: 100%;
    }
    &-add {
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 18px;
        width: 100%;
      }
    }

    &-reset {
      @include flex(center, center);

      svg {
        width: 20px;
        height: 20px;
        fill: $color-white;
        stroke: $color-white;
        stroke-width: 5;
      }
    }

    &:hover {
      background-color: var(--hover-elements-color);
    }
  }
}
