.top-panel {
  @include flex(space-between, center);
  padding: 0.8rem 0 0.8rem 0.8rem;

  &__title {
    font: $font-top-panel__title;
    color: $color-blue-400;
  }

  &__buttons {
    @include flex(space-between, center);
    min-width: 100px;
  }

  &__btn {
    position: relative;
    width: 45px;
    height: 45px;
    font-size: 2rem;
    color: $color-white;
    background-color: #b8b8b8;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease-in;

    &-add {
      &:before {
        content: '+';
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
      }
    }

    &-reset {
      @include flex(center, center);

      svg {
        width: 20px;
        height: 20px;
        fill: $color-white;
        stroke: $color-white;
        stroke-width: 5;
      }
    }

    &:hover {
      background-color: $color-gray-500;

    }
  }
}
