.tracker {
  width: 100%;
  padding: 100px 50px;
  box-sizing: border-box;
  flex-direction: column;
  @include flex(space-evenly, center);

  &__header {
    @include flex(space-evenly, center);
    flex-direction: column;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 40px;
  }

  &__text {
    font-size: 30px;
    font-weight: normal;
  }

  &__container {
    @include flex(center, center);
    margin-bottom: 40px;
    font-size: 25px;
  }

  &__period-container {
    justify-content: space-evenly;
    padding: 0 10px;
    border-bottom: 1px solid $color-black;
  }

  &__goal-container {
    flex-direction: column;
    margin: 0 50px;
  }

  &__period,
  &__goal {
    min-width: 50px;
    margin-left: 30px;
    font-style: italic;
  }

  &__main {
    @include flex(space-evenly, center);
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;

    & .tracker__container {
      margin-bottom: 0;
    }
  }

  &__habit,
  &__chart-container {
    @include flex(space-evenly, center);
    flex-direction: column;
    width: 500px;
    height: 600px;
    padding: 50px;
    background-color: $color-white;
    border-radius: 20px;
  }

  &__habit {
    margin: 10px 30px;

    & .tracker__text {
      margin-bottom: 30px;
    }
  }

  &__checkbox {
    @include flex(space-between, center);
    flex-wrap: wrap;
    margin: 20px;
  }

  &__day {
    width: 30px;
    height: 30px;
    margin: 15px;
    border-radius: 50%;
    border: 2px solid $color-blue-400;
    background-color: $color-white;
    cursor: pointer;
  }

  &__arrow {
    cursor: pointer;
  }

  &__chart {
    position: relative;
    width: 300px;
    height: 150px;
    // background-color: $popup-blue;
    border: 2px solid $popup-blue;;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -2px;
      transform: translateX(-50%);
      width: 100px;
      height: 50px;
      background-color: $color-white;
      border: 2px solid $popup-blue;;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;  
    }

    &::after {

    }
  }
}
