.top-panel {
  @include flex(space-between, center);
  padding: 1rem 0 1rem 1rem;

  &__buttons {
    @include flex(space-between, center);
    min-width: 100px;
  }

  &__btn {
    position: relative;
    width: 35px;
    height: 25px;
    font-size: 2rem;
    color: $color-green-300;
    cursor: pointer;
    transition: 0.1s ease-in;

    &-add {
      &:before {
        content: '+';
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -45%);
      }
    }

    &-reset {
      @include flex(center, center);

      svg {
        width: 20px;
        height: 20px;
        stroke: $color-green-300;
        stroke-width: 5;
      }
    }

    &:hover {
      color: $color-black;
      background-color: $color-gray-500;

      svg {
        stroke: $color-black;
      }
    }
  }
}
