.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  padding: 30px;
  text-align: justify;
  background-color: var(--background-color);
  color: var(--text-color);

  @media (max-width: $breakpoint-mobile-landscape) {
    padding: 1rem;
  }

  &__title {
    color: var(--titles-color);
    margin-bottom: 15px;
  }

  &__description {
    p {
      font: $font-text;
      padding: 10px;
    }

    ol {
      padding: 10px;

      @media (max-width: $breakpoint-mobile-landscape) {
        font-size: 0.9rem;
      }
    }

    @media (max-width: $breakpoint-mobile-landscape) {
      margin-bottom: 1.5rem;
    }
  }

  &__trackers {
    font: $font-text;

    @media (max-width: $breakpoint-tablet-landscape) {
      font: $font-text-tablet;
    }

    @media (max-width: $breakpoint-mobile-landscape) {
      font: $font-text-mobile;
    }
  }

  &__buttons {
    margin-bottom: 15px;

    &_wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    &-img {
      width: 25px;
    }

    &-text {
      margin-left: 10px;
      font: $font-text;
      color: var(--titles-color);

      @media (max-width: $breakpoint-tablet-landscape) {
        font: $font-text-tablet;
      }

      @media (max-width: $breakpoint-mobile-landscape) {
        font: $font-text-mobile;
      }
    }
  }

  &__team {
    &-title {
      font: $about__team-title;
      color: var(--titles-color);
      margin-bottom: 15px;

      @media (max-width: $breakpoint-mobile-landscape) {
        font: $about__team-item-link;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &-img {
        width: 25px;
        margin-right: 10px;
      }

      &-link {
        font: $about__team-item-link;
        color: $color-gray-600;
        transition: 0.3s;

        @media (max-width: $breakpoint-tablet-landscape) {
          font: $font-text-tablet;
        }

        @media (max-width: $breakpoint-mobile-landscape) {
          font: $font-text-mobile;
        }

        &:hover {
          color: $color-gray-400;
          transform: scale(1.05);
        }
      }
    }
  }

  &__copy,
  &__copy a {
    font: $about__team-item-link;
    color: $color-gray-600;
    padding: 20px 0 20px 0;

    &-link {
      &:hover {
        color: $color-gray-400;
      }
    }
  }

  &__keys {
    margin-bottom: 15px;
    font: $font-text;

    &-title {
      margin-bottom: 15px;
      color: var(--titles-color);
      font: $about__keys-title;
    }

    &-item {
      display: flex;
      justify-content: flex-start;
      text-align: start;
      margin-bottom: 7px;

      div {
        width: 230px;
        margin-right: 10px;
        margin-bottom: 3px;
        padding: 5px;
        border: 1px solid $color-white;
        border-radius: 7px;
        color: white;
        background-color: $color-gray-400;
        font-size: 0.7rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-landscape) {
  .about {
    &__description {
      p {
        font: $font-text-tablet;
      }
    }

    &__keys {
      font: $font-text-tablet;

      &-item {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile-landscape) {
  .about {
    &__description {
      p {
        font: $font-text-mobile;
      }
    }

    &__keys {
      font: $font-text-tablet;
    }
  }
}
