.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 30px;
  text-align: justify;
  background-color: $color-gray-300;

  &__title {
    color: $color-purple;
    margin-bottom: 15px;
  }
  &__description{
    p {
      font: $font-text;
      font-zize: 40px;
      padding: 10px;
    }

    ol {
      padding: 10px;
    }
  }

  &__team {
    &-title {
      font: $about__team-title;
      color: $color-purple;
      margin-bottom: 15px;
    }

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &-img {
        width: 25px;
        margin-right: 10px;
      }

      &-link {
        font: $about__team-item-link;
        color: $color-gray-600;
        transition: .3s;

        &:hover {
          color: #9fa4ac;
          transform: scale(1.05);
        }
      }
    }
  }

  &__copy,
  &__copy a{
    font: $about__team-item-link;
    color: $color-gray-600;
    padding: 20px 0 20px 0;

    &-link {
      &:hover {
        color: #9fa4ac;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-landscape) {
  .about {
    &__description{
      p {
        font: $font-text-tablet;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile-landscape) {
  .about {
    &__description{
      p {
        font: $font-text-mobile;;
      }
    }
  }
}
