.tracker {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  flex-direction: column;
  @include flex(space-evenly, center);

  &__header {
    @include flex(space-evenly, center);
    flex-direction: column;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 40px;
  }

  &__text,
  &__number {
    font-size: 30px;
    font-weight: normal;
    color: var(--primary-color);

    @media (max-width: $breakpoint-tablet-landscape) {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    @media (max-width: $breakpoint-mobile-landscape) {
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
  }

  &__number {
    margin-left: 15px;
    text-transform: uppercase;

    @media (max-width: $breakpoint-tablet-landscape) {
      margin: 0;
    }
  }

  &__container {
    @include flex(center, center);
    margin-bottom: 40px;
    font-size: 25px;

    @media (max-width: $breakpoint-mobile-interim-landscape) {
      flex-direction: column;
    }
  }

  &__period-container {
    justify-content: space-evenly;
    padding: 0 10px;
    border-bottom: 1px solid $color-black;
  }

  &__goal-container {
    flex-direction: column;
    margin: 0 50px;
  }

  &__period,
  &__goal {
    min-width: 50px;
    color: var(--primary-color);

    @media (max-width: $breakpoint-mobile-landscape) {
      margin-left: 0;
      font-size: 1.3rem;
    }
  }

  &__period {
    margin-left: 30px;
  }

  &__main {
    @include flex(space-evenly, center);
    width: 100%;
    min-height: 200px;

    @media (max-width: $breakpoint-mobile-landscape) {
      flex-wrap: wrap;
    }

    & .tracker__container {
      margin-bottom: 0;
    }

    & .tracker__number-container {
      margin-bottom: 30px;

      @media (max-width: $breakpoint-tablet-landscape) {
        flex-direction: column;
      }

      @media (max-width: $breakpoint-mobile-landscape) {
        margin-bottom: 1rem;
      }
    }
  }

  &__habit,
  &__chart-container {
    @include flex(space-evenly, center);
    flex-direction: column;
    width: 450px;
    height: 500px;
    padding: 30px;
    box-sizing: border-box;
    background-color: var(--active-menu-border);
    border-radius: 20px;

    @media (max-width: $breakpoint-tablet-landscape) {
      width: 300px;
      height: 370px;
      padding: 0;
    }

    @media (max-width: $breakpoint-mobile-landscape) {
      width: 255px;
      height: 300px;
    }
  }

  &__chart-container {
    @media (max-width: 650px) {
      margin-top: 1.5rem;
    }
  }

  &__habit {
    margin: 10px 30px;
    @media (max-width: $breakpoint-tablet-landscape) {
      margin: 5px;
    }
  }

  &__checkbox {
    @include flex(space-between, center);
    flex-wrap: wrap;
    margin: 15px;
  }

  &__day {
    width: 25px;
    height: 25px;
    margin: 17px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: var(--active-menu-border);
    cursor: pointer;
    transition: 0.7s;

    &:hover {
      background-color: var(--hover-elements-color);
    }

    &.done {
      background-color: var(--primary-color);
    }

    @media (max-width: $breakpoint-tablet-landscape) {
      margin: 9px;
    }

    @media (max-width: $breakpoint-mobile-landscape) {
      margin: 5px;
    }
  }

  &__arrow {
    transition: 0.5s;
    cursor: pointer;

    &.inactive {
      color: var(--active-elements-color);
      pointer-events: none;
    }

    &:hover {
      color: var(--hover-elements-color);
    }
  }
}

.habit-container {
  border: 2px solid var(--primary-color);
  border-radius: 30px;
}

//chart

@mixin circle($size) {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 200px;

.tracker__pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: var(--active-elements-color);
  position: relative;
  margin: 50px auto 0;
  &.gt-50 {
    background-color: var(--primary-color);
  }

  @media (max-width: $breakpoint-mobile-landscape) {
    margin-top: 1rem;
  }
}
.tracker__progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  & .tracker__progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: var(--primary-color);
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    & .tracker__progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: var(--active-elements-color);
    }
  }
}
.tracker__percents {
  @include circle(#{$size/1.15});
  background: var(--active-menu-border);
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: var(--primary-color);
  }
}
.tracker__percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
