.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    margin: auto;
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    border: solid;
    border-width: 4px;
    border-radius: 50%;
    border-top-color: rgba(140, 140, 140, 0.55);
    border-bottom-color: rgba(140, 140, 140, 0.2);
    border-right-color: rgba(140, 140, 140, 0.2);
    border-left-color: rgba(140, 140, 140, 0.2);
    animation: rotating 0.9s linear infinite;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}