$color-black: #000;
$color-light-black: #333;
$color-white: #fff;
$color-red: #e60000;
$color-orange: #ffa07a;
$color-yellow-100: #fffacd;
$color-blue-100: #add8e6;

$color-green-300: #5dbe5d;
$color-green-100: #90ee90;

$color-gray-700: #222;
$color-gray-500: #5c5c5c;
$color-gray-bg-scroll: #464646;
$color-gray-300: #d9d9d9;
$color-gray-map-300: #404040;
$color-gray-100: #f6f6f6;
