$color-black: #000;
$color-light-black: #333;
$color-white: #fff;
$color-pink-100: #cf74a1;

$color-purple-300: #9966cc;
$color-purple: #8463ab;

$color-red: #e60000;
$color-red-300: #ff3333;

$color-green-300: #5dbe5d;
$color-green-100: #90c361;

$color-yellow-400: #ffcc33;

$color-gray-700: #222;
$color-gray-500: #5c5c5c;
$color-gray-bg-scroll: #464646;
$color-gray-100: #f6f6f6;
$color-gray-300: #e7e7e7;

$color-blue-100: #45b4cd;
$color-blue-200: #55dde0;
$color-blue-400: #0078D7;
$color-blue-500: #33658a;

$popup-bg-grey: #ebecef;
$popup-blue: #197ccf;
$popup-text: #9fa4ac;
$popup-checkbox: #e3e6ed;
$popup-shadow: rgba(255, 255, 255, 0.4);
