//Settings-list
@keyframes topToBottom {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes bottomToTop {
    0% {
        opacity:0;
        transform:rotate(-30deg);
    }
    100% {
        opacity:1;
        transform:rotate(0deg);
    }
}

// Settings-Robot animation
@keyframes hover {
    0% { transform: translate3d(0, 80px, 0);
    }
    100% { transform: translate3d(0, 30px, 0);
    }
}
@keyframes shadow {
    0% {
        transform: translate3d(0,0,0) scale(1.5,1.2);
        opacity: 0.4;
    }
    100% {
        transform: translate3d(0,0,0) scale(1,1);
        opacity: 0.2;
    }
}
@keyframes arms_bounce_left {
    0% { transform: translate3d(0, 80px, 0)rotate(0deg);
    }
    100% { transform: translate3d(0, 30px, 0)rotate(-10deg);
    }
}
@keyframes arms_bounce_right {
    0% { transform: translate3d(0, 80px, 0)rotate(0deg);
    }
    100% { transform: translate3d(0, 30px, 0)rotate(10deg);
    }
}
@keyframes eyes_blink {
    0% { transform: scale(1,1);
    }
    90% { transform: scale(1,1);
    }
    95% { transform: scale(0.8,0);
    }
    100% { transform: scale(1,1);
    }
}
