[data-theme='light'] {
  --background-color: #ffffff;
  --primary-color: #a15a6b;
  --secondary-color: #fff;
  --titles-color: #a15a6b;
  --text-color: #000;
  --hover-elements-color: #ef9aab;
  --active-elements-color: #bfbfbf;
  --active-menu-border: #ffffff;
  --first-tasks-block-color: #9DEDD2;
  --second-tasks-block-color: #EDC29D;
  --third-tasks-block-color: #DBD879;
  --fourth-tasks-block-color: #EDA8B8;
 --error-color: #fa0000;
 --popup-bg-color: #ffffff;
  --purple-color: #bc8fe5;
  --blue-color: #89e4e7;
  --red-color: #e54c8a;
  --yellow-color: #ffda6c;
  --dark-blue-color: #5594cb;
}

[data-theme='bright'] {
  --background-color: #BE83BD;
  --primary-color: #7B65AE;
  --secondary-color: #fff;
  --titles-color: #ffffff;
  --text-color: #ffffff;
  --hover-elements-color: #d2a5ff;
  --active-elements-color: #a48cea;
  --active-menu-border: #ffffff;
  --first-tasks-block-color: #89E8A5;
  --second-tasks-block-color: #E88A89;
  --third-tasks-block-color: #FAE793;
  --fourth-tasks-block-color: #679C4C;
  --error-color: #fa0000;
 --popup-bg-color: #ffffff;
  --purple-color:#9966cc;
  --blue-color:#55dde0;
  --red-color:#ff3333;
  --yellow-color:#ffcc33;
  --dark-blue-color:#33658a;
}
[data-theme='dark'] {
  --background-color: #575758;
  --primary-color: #2a2a2d;
  --secondary-color: #fff;
  --titles-color: #ffffff;
  --text-color: #ffffff;
  --hover-elements-color: #949494;
  --active-elements-color: #838383;
  --active-menu-border: #ffffff;
  --first-tasks-block-color: #737373;
  --second-tasks-block-color: #737373;
  --third-tasks-block-color: #737373;
  --fourth-tasks-block-color: #737373;
  --error-color: #ff0000;
  --popup-bg-color: #ffffff;
  --purple-color: #a66ae0;
  --blue-color: #49eeee;
  --red-color: #f10c0c;
  --yellow-color: #ffdc5b;
  --dark-blue-color: #5fb6f5;
}