[data-theme='light'] {
  --background-color: #f4f4f4;
  --primary-color: #7B65AE;
  --secondary-color: #ffffff;
  --titles-color: #7B65AE;
  --text-color: #7B65AE;
  --hover-elements-color: #85A2FC;
  --active-elements-color: #a799e5;
  --active-menu-border: #ffffff;
  --first-tasks-block-color: #AECBFA;
  --second-tasks-block-color: #D7AEFB;
  --third-tasks-block-color: #CCFF90;
  --fourth-tasks-block-color:#FFF475;
 --error-color: #ff0000;
 --popup-bg-color: #ffffff;
  --purple-color:#9966cc;
  --blue-color:#55dde0;
  --red-color:#ff3333;
  --yellow-color:#ffcc33;
  --dark-blue-color:#33658a;
  --green: #60d73a;
}

[data-theme='bright'] {
  --background-color: #BE83BD;
  --primary-color: #7B65AE;
  --secondary-color: #fff;
  --titles-color: #ffffff;
  --text-color: #7B65AE;
  --hover-elements-color: #d2a5ff;
  --active-elements-color: #a48cea;
  --active-menu-border: #ffffff;
  --first-tasks-block-color: #FFF475;
  --second-tasks-block-color: #A7FFEB;
  --third-tasks-block-color: #CCFF90;
  --fourth-tasks-block-color:#FF76A2;
  --error-color: #ff0000;
 --popup-bg-color: #ffffff;
  --purple-color:#9966cc;
  --blue-color:#55dde0;
  --red-color:#ff3333;
  --yellow-color:#ffcc33;
  --dark-blue-color:#33658a;
  --green: #60d73a;
}
[data-theme='dark'] {
  --background-color: #575758;
  --primary-color: #2a2a2d;
  --secondary-color: #fff;
  --titles-color: #ffffff;
  --text-color: #ffffff;
  --hover-elements-color: #949494;
  --active-elements-color: #838383;
  --active-menu-border: #ffffff;
  --first-tasks-block-color: #737373;
  --second-tasks-block-color: #737373;
  --third-tasks-block-color: #737373;
  --fourth-tasks-block-color: #737373;
  --error-color: #ff0000;
  --popup-bg-color: #ffffff;
  --purple-color:#9966cc;
  --blue-color:#55dde0;
  --red-color:#ff3333;
  --yellow-color:#ffcc33;
  --dark-blue-color:#33658a;
  --green: #60d73a;
}