$font-text: normal normal 18px/22px 'Avenir Next Cyr', Arial, sans-serif;
$font-text-tablet: normal normal 16px/19px 'Avenir Next Cyr', Arial, sans-serif;
$font-text-mobile: normal normal 15px/18px 'Avenir Next Cyr', Arial, sans-serif;

$breakpoint-mobile-landscape: 768px;
$breakpoint-tablet-landscape: 992px;
$breakpoint-laptop-landscape: 1280px;
