$font-top-panel__title: normal normal 40px/32px 'Avenir Next Cyr', Arial,
  sans-serif;
$task-list__title: normal bold 26px/48px 'Avenir Next Cyr', Arial, sans-serif;
$task-list__item: normal normal 20px/26px 'Avenir Next Cyr', Arial, sans-serif;
$header__title: normal bold 36px/44px 'Avenir Next Cyr', Arial, sans-serif;
$settings__menu-list-title: normal bold 26px/38px 'Avenir Next Cyr', Arial,
  sans-serif;
$settings_item: normal bold 22px/32px 'Avenir Next Cyr', Arial, sans-serif;
$about__team-title: normal bold 22px/26px 'Avenir Next Cyr', Arial, sans-serif;
$about__keys-title: normal bold 22px/26px 'Avenir Next Cyr', Arial, sans-serif;
$about__team-item-link: normal 500 18px/26px 'Avenir Next Cyr', Arial,
  sans-serif;

$font-text: normal normal 18px/22px 'Avenir Next Cyr', Arial, sans-serif;
$font-text-tablet: normal normal 16px/19px 'Avenir Next Cyr', Arial, sans-serif;
$font-text-mobile: normal normal 15px/18px 'Avenir Next Cyr', Arial, sans-serif;

$breakpoint-mobile-interim-landscape: 500px;
$breakpoint-mobile-landscape: 768px;
$breakpoint-tablet-landscape: 992px;
$breakpoint-laptop-landscape: 1280px;

$hover_top: 80px;
$hover_bottom: 30px;
