<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Eisenhower planner</title>
  </head>
  <body>
    <div class="blur"></div>
    <%= require('html-loader!./html-includes/navbar.html') %> <%=
    require('html-loader!./html-includes/header.html') %>
    <main class="main">
      <%= require('html-loader!./html-includes/popup.html') %>
      <div class="container">
        <h1 class="main__heading">Tasks matrix</h1>
        <div class="top-panel">
          <p class="top-panel__total">
            Total tasks: <span class="top-panel__count">8</span>
          </p>
          <div class="top-panel__buttons">
            <span
              class="top-panel__btn top-panel__btn-add"
              data-show="popup"
            ></span>
            <span class="top-panel__btn top-panel__btn-reset">
              <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M127.21,45.11a2,2,0,0,0-2.8.39L113.72,59.61a56.86,56.86,0,1,0-1.63,18.7,2,2,0,1,0-3.87-1,53,53,0,1,1,1.58-16.5L95,49.56a2,2,0,0,0-2.42,3.19l18.36,13.91a2,2,0,0,0,1.21.4,1.23,1.23,0,0,0,.27,0,2,2,0,0,0,1.32-.77l13.9-18.35A2,2,0,0,0,127.21,45.11Z"
                />
              </svg>
            </span>
          </div>
        </div>
        <div class="tasks-wrapper">
          <div class="task task_p1">
            <span class="task__title">Important and urgent</span>
            <span class="task__subtitle">Do it!</span>
            <ul class="task__list">
              <li class="task__item">Go to the shop</li>
            </ul>
          </div>
          <div class="task task_p2">
            <span class="task__title">Important but not urgent</span>
            <span class="task__subtitle">Schedule it!</span>
            <ul class="task__list">
              <li class="task__item">Networking</li>
            </ul>
          </div>
          <div class="task task_p3">
            <span class="task__title">Not important but urgent</span>
            <span class="task__subtitle">Delegate it!</span>
            <ul class="task__list">
              <li class="task__item">Uploading blog posts</li>
            </ul>
          </div>
          <div class="task task_p4">
            <span class="task__title">Not important and not urgent</span>
            <span class="task__subtitle">Delete it!</span>
            <ul class="task__list">
              <li class="task__item">Social media</li>
              <li class="task__item">Watching TV</li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <%= require('html-loader!./html-includes/footer.html') %>
  </body>
</html>
