<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Eisenhower planner</title>
  </head>
  <body>
    <div class="blur"></div>
    <%= require('html-loader!./html-includes/navbar.html') %>
    <header class="header">
      <div class="header__content">
        <a
          href="https://rs.school/"
          target="_blank"
          class="header__logo"
          data-show="popup"
        >
          <img src="/../assets/logo-rsschool.svg" alt="logo" />
        </a>
      </div>
    </header>
    <main class="main">
      <%= require('html-loader!./html-includes/popup.html') %>
      <div class="container">
        <h1 class="main__heading">Task list</h1>
        <%= require('html-loader!./html-includes/top-panel.html') %>
        <div class="task-list">
          <h4 class="task-list__title">Important and urgent</h4>
          <ul class="task-list__list">
            <li class="task-list__item">
              <div class="task-list__img-wrapper task-list__img_important">
                <img class="task-list__img" src="assets/star.svg" alt="Star" />
              </div>
              Rewrite meter readings
            </li>
            <li class="task-list__item">
              <div class="task-list__img-wrapper task-list__img_important">
                <img class="task-list__img" src="assets/star.svg" alt="Star" />
              </div>
              Happy Birthday to a friend
            </li>
          </ul>
          <h4 class="task-list__title">Never mind, but urgent</h4>
          <ul class="task-list__list">
            <li class="task-list__item">
              <div class="task-list__img-wrapper task-list__img_urgent">
                <img class="task-list__img" src="assets/star.svg" alt="Star" />
              </div>
              Watch a movie on TV
            </li>
            <li class="task-list__item">
              <div class="task-list__img-wrapper task-list__img_urgent">
                <img class="task-list__img" src="assets/star.svg" alt="Star" />
              </div>
              Buy batteries for the remote
            </li>
          </ul>
          <h4 class="task-list__title">Important, but not urgent</h4>
          <ul class="task-list__list">
            <li class="task-list__item">
              <div class="task-list__img-wrapper task-list__img_not-urgent">
                <img class="task-list__img" src="assets/star.svg" alt="Star" />
              </div>
              Pay the rent
            </li>
          </ul>
          <h4 class="task-list__title">Never mind and not urgent</h4>
          <ul class="task-list__list">
            <li class="task-list__item">
              <div class="task-list__img-wrapper task-list__img_never-mind">
                <img class="task-list__img" src="assets/star.svg" alt="Star" />
              </div>
              Go shopping
            </li>
            <li class="task-list__item">
              <div class="task-list__img-wrapper task-list__img_never-mind">
                <img class="task-list__img" src="assets/star.svg" alt="Star" />
              </div>
              Read a new book
            </li>
            <li class="task-list__item">
              <div class="task-list__img-wrapper task-list__img_never-mind">
                <img class="task-list__img" src="assets/star.svg" alt="Star" />
              </div>
              Clean up the room
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
